<span ng-if="environment"><identicon name="{{environment.component.id}}" size="30" background-color="[255,255,255, 0]" foreground-color="[51,51,51]"></identicon> {{environment.component.name}}</span>

<style>
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit 1s infinite linear;
    -moz-animation: spinMoz 1s infinite linear;

}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
} 
</style>

<div ng-show="ctrl.showLoder" class="text-center" style="font-size: 2em;">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>

<div ng-class="{
    'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
    'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
    }">
    <div class="form-group">
        <label
            ng-if="!properties.labelHidden"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}" ng-bind-html="properties.label | uiTranslate">
        </label>
        
        <div class="col-xs-{{ ctrl.fieldWidth }}" 
            ng-show="ctrl.showSelect">
            <select
                class="form-control"
                name="{{ctrl.selectName}}"
                ng-model="ctrl.selectValue"
                ng-model-options="{ allowInvalid: true }"
                ng-options="ctrl.getValue(option) as (ctrl.getLabel(option) | uiTranslate) for option in ctrl.suggestedValues"
                ng-change="ctrl.updateWithSelectedValue()"
                ng-required="properties.required && ctrl.showSelect && (properties.value==null)"
                ng-disabled="properties.disabled">
                <option style="display:none" value="">
                    {{ properties.placeholder | uiTranslate }}
                </option>
            </select>
            <div ng-messages="$form[ctrl.selectName].$dirty && $form[ctrl.selectName].$error " ng-messages-include="forms-generic-errors.html" role="alert"></div>
        </div>
        
        <div class="col-xs-{{ ctrl.fieldWidth }}">
            <input type="text"
                class="form-control"
                autocomplete="off"
                ng-class="{ 'invalid-number': properties.invalidNum }"
                ng-model="properties.value"
                ng-model-options="{ allowInvalid: true }"
                name="{{ctrl.name}}"
                ng-required="properties.required"
                ng-readonly="properties.readOnly || (ctrl.showSelect && (!ctrl.selectValue))"
                ng-focus="showActualVal()"
                ng-blur="convertToFrenchFormat()" 
                ng-keyup="validateAmount()" >
            <div ng-messages="$form[ctrl.name].$dirty && $form[ctrl.name].$error " ng-messages-include="forms-generic-errors.html" role="alert">
            <div ng-if="properties.invalidNum" class="text-danger" >Montant invalide</div>    
            </div>
        </div>
        
        <div ng-show="ctrl.showError" class="alert alert-danger col-xs-{{ ctrl.fieldWidth }}">
            {{ ctrl.errorMsg }}
        </div>
        <div ng-show="ctrl.showEmpty || ctrl.showDefault" class="alert alert-info col-xs-{{ ctrl.fieldWidth }}">
            {{ ctrl.emptyMsg }}
        </div>

    </div>
</div>        